<div class="wrappi">
	<div class="inscription">
		<h2>Bravo ! Tu es inscrit et tu souhaites créer des évènements, il nous faut quelques informations supplémentaires.</h2>
		<%= render 'form', mob: @mob %>
	</div>
</div>