<div class="navbar">
	<div class="navbarleft">
			<%= image_tag "logo.svg", class: "logo" %>
			<h1 class="baseline">LET'S CLEAN THE STREET</h1>
	</div>
	<div class="navbarright">
			<button class="event">Créer un évènement</button>
			<button class="login">Connexion</button>
			<button class="login">Inscription</button>
	</div>
</div>
