<% if user_signed_in? %>
  <%= render "views/shared/error" %>
  <% else %>
<%= render 'form', event: @event %>
<div class="buttons_events_edit">
<%#= link_to 'Show', @event %>
<%#= link_to 'Back', events_path %>

</div>
<% end %>
