<h1>HomePages#index</h1>
<p>Find me in app/views/home_pages/index.html.erb</p>

<% if admin_signed_in? %>
 <li>
 <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
 </li>
<% else %>
 <li>
 <%= link_to('Login', new_admin_session_path)  %>
 </li>
<% end %>

<% if user_signed_in? %>
 <li>
 <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
 </li>
<% else %>
 <li>
 <%= link_to('Login', new_user_session_path)  %>
 </li>
<% end %>
