h1 {
    font-weight: 400;
}
h2 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
}
h3 {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h4 {
    font-size: 13px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    margin-left: 8px;
    margin-top: 1px;
}
h5 {
    font-size: 14px;
    font-weight: 400;
    color: $roseuser;
    margin-bottom: 0px;
    margin-top: 15px;
}

h6 {
    font-size: 24px;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 1px;
}
body {
	font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    margin: 0px !important;
}
p {
	font-family: 'Source Serif Pro', serif;
    font-size: 14px;
    font-weight: normal;
}
a {
    color: black;
    text-decoration: none;
}
.hidden {
    display: none !important;
}

.fc_violetassos {
  color: $violetassos;
}
.bg_red {
  background-color: $rednotice !important;
}
