        .batterygreen {
            &_inner {
                width: 95px;
                height: 23px;
                background-color: white;
                position: absolute;
                outline: 3px solid black;
            }
            &_innerpre { 
                width: 0px;
                height: 23px;
                background: $bleubattery;
                position: absolute;
            }
            &_posi {
                width: 7px;
                height: 15px;
                background: black;
                position: absolute;
                margin: 4px 0px 0px 95px;
            }
            &_moins {
                width: 13px;
                height: 5px;
                background: black;
                position: absolute;
                margin: 9px 0px 0px 80px;
            }
            &_plus {
                width: 5px;
                height: 13px;
                background: black;
                position: absolute;
                margin: 5px 0px 0px 84px;
            }
            &_inner:hover + .innerpre,
            &_innerpre:hover {
                width: 95px;
                box-shadow: 0px 0px 10px rgba(255,255,255,0.2) inset;
            }
        }