.bigcardevent {
    background-color: white;
    // padding: 30px;
    width: 900px;
    position: relative;
    box-shadow: 10px 15px 40px $shadowbox;
    &_header {
        height: 200px;
        &_bandeau {
            width: 900px;
            height: 200px;
        }
        &_photoprofilasso {
            border-radius: 50%;
            position: absolute;
            top: 45px;
            left: 45px;
        }
    }
    &_informations {
        padding-left: 30px;
        padding-right: 33px;
        display: flex;
        &_details {
            display: flex;
            flex-direction: column;
            &_event {
                display: flex;
                &_date {
                    width: 40px;
                }
                &_name {
                    width: 693px;
                    display: flex;
                    align-items: center;
                }
                &_interested {
                    padding-left: 45px;
                }
            }
            &_meteo {
                padding-left: 40px;
                padding-top: 6px;
                display: flex;
                padding-right: 33px;
                width: 765px;
                padding-bottom: 15px;
            }
            &_actions {
                display: flex;
                flex-direction: column;
                width: 100px;
                padding-top: 18px;
                &_cta {
                    display: flex;
                    padding-top: 10px;
                    &_batteryblue {
                        &_inner {
                            width: 95px;
                            height: 23px;
                            background-color: white;
                            position: absolute;
                            outline: 3px solid black;
                        }
                        &_innerpre {
                            width: 0px;
                            height: 23px;
                            background: $bleubattery;
                            position: absolute;
                            -webkit-transition: all 1s;
                            -moz-transition: all 1s;
                            transition: all 1s;
                        }

                        &_posi {
                            width: 7px;
                            height: 15px;
                            background: black;
                            position: absolute;
                            margin: 4px 0px 0px 95px;
                        }
                        &_moins {
                            width: 13px;
                            height: 5px;
                            background: black;
                            position: absolute;
                            margin: 9px 0px 0px 80px;
                        }
                        &_plus {
                            width: 5px;
                            height: 13px;
                            background: black;
                            position: absolute;
                            margin: 5px 0px 0px 84px;
                        }
                        &_inner:hover + .innerpre, &_innerpre:hover {
                            width: 95px;
                            box-shadow: 0px 0px 10px rgba(255,255,255,0.2) inset;
                        }
                    }
                }

            }
        }
    }
    &_geoloc {
        display: flex;
        padding-left: 30px;
        padding-right: 33px;
        &_description {
            height: 155px;
            padding-top: 5px;
            padding-right: 33px;
        }
        &_map {
            width: 300px;
            #map {
            height: 160px;
            width: 300px;
            }
        }
    }
    &_materiel {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 2px;
    padding-top: 11px;
    }
}


