$pinkdemoncul: #FCBCC4;

$roseuser: #E42EF5;
$violetassos: #822AE8;
$bleuevent: #0404FC;
$vertpomme: #00ff00;
$vertbattery: #0CFC04;
$bleubattery: #1C94FC;
$shadowbox: #777;
$rednotice: #FC040C;
$petitgris: #f4f4f4;
$grismoyen: #efefef;
$concrete: #F9F9F9;
$white: white;
$black: black;
