.mediumboxcreateevent {
	background-color: $white;
    width: 900px;
    height: 400px;
    border-radius: 1px;
    box-shadow: 10px 15px 40px $shadowbox;
    &_header {
        display: flex;
        justify-content: space-around;
		&_dark {
            height: 60px;
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $petitgris;
            &_black {
                color: $black;
                margin-bottom: 14px;
            }
        }
        &_dark:hover {
            background-color: $grismoyen;
        }
        &_white {
            height: 60px;
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: center;
            &_purple {
                color: $violetassos;
                margin-bottom: 14px;
            }
            &_pink {
                color: $roseuser;
                margin-bottom: 14px;
            }
        }
    }
    &_champignon {
        // display: flex;
        // justify-content: center;
        margin: 20px;
        margin-top: 0px;
        position: relative;
        &_title_h2 {
          position: absolute;
          top: 30px;
          left: 0px;
          color: $violetassos;
        }
        &_wrappiti {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding-top: 100px;
            &_left {
              flex: 0 0 33%;
              padding-left: 30px;
                &_field {
                  margin-bottom: 15px;
                    &_champsinfo {
                        height: 25px;
                        width: 200px;
                        border: 1px solid black;
                        font-family: 'Hind Siliguri', sans-serif;
                        font-weight: 600;
                        font-size: 14px;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        color: black;
                        border-radius: 1px;
                        padding-left: 8px;
                    }
                    &_champsinfo:focus {
                        outline: none;
                    }
                }
            }
            &_center {
              flex: 0 0 34%;
              &_field {
                &_description:focus {
                    outline: none;
                }
              }
            }
            &_right {
              flex: 0 0 33%;
                &_field {
                    display: grid;
                  margin-bottom: 15px;
                    &_champsinfo {
                        height: 25px;
                        width: 200px;
                        border: 1px solid black;
                        font-family: 'Hind Siliguri', sans-serif;
                        font-weight: 600;
                        font-size: 14px;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        color: black;
                        border-radius: 1px;
                        padding-left: 8px;
                    }
                    &_champsinfo:focus {
                        outline: none;
                    }
                    &_description {
                        height: 120px;
                        width: 200px;
                        border: 1px solid black;
                        font-family: 'Hind Siliguri', sans-serif;
                        font-weight: 600;
                        font-size: 14px;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        color: black;
                        border-radius: 1px;
                        padding-left: 8px;
                    }
                    &_description:focus {
                        outline: none;
                    }
                    &_action {
                        &_pomme {
                            height: 40px;
                            width: 40px;
                            border: 2px solid black;
                            border-radius: 50%;
                            background-color: $vertpomme;
                            cursor: pointer;
                            margin-left: 175px;
                            margin-top: 5px;
                        }
                        &_pomme:hover {
                            color: $violetassos;
                        }
                        &_pomme:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

.collection-check-box {
  display: inline-block;
}
textarea {
    height: 210px;
    width: 200px;
    border: 1px solid black;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    border-radius: 1px;
    padding-left: 8px;
}


