// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
padding:  0;
  margin: 0;

}


// css de la map
#map {
  height: 60vh;
  width: 60vh;
  
}
