/*css pour mon inscription d'association*/
.link {
    pointer: cursor;
}
.inscription {
    background-color: white;
    border: 3px solid black;
    width: 700px;
    height: 325px;
    border-radius: 1px;
}
/*css pour mon inscription user*/
.inscriptionuser {
    color: #ff00ff;
    display: flex;
    justify-content: space-around;
}
.connexionnoir {
    height: 60px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}
.connexionrose {
    height: 60px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.inscriptionnoir {
    height: 60px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}
.inscriptionrose {
    height: 60px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rose {
    color: #ff00ff;
}
.buttonrond {
    display: flex;
    align-items: center;
    height: 60px;
}
.rondrose {
    border: 3px solid black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: #ff00ff;
    margin: 20px;
    margin-right: 10px;
}
.rondvide {
    border: 3px solid black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: white;
    margin: 20px;
    margin-right: 10px;
}
.inscriptionassos {
    color: #c000ff;
}
.champignon {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
}

.wrappiti {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    &_left {

    }
    &_right {        

    }
}


.field {
}
.champsinfo {
    height: 25px;
    width: 200px;
    border: 3px solid black;
    font-family: 'Hind Siliguri', sans-serif;   
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    border-radius: 1px;
    padding-left: 8px;
}
.champsinfo:focus {
    outline: none;
}
.champsdescription {
    height: 182px;
    width: 200px;
    border: 3px solid black;
    font-family: 'Source Serif Pro', serif;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    border-radius: 1px;
    padding-left: 8px;
}
.champsdescription:focus {
    outline: none;
}
.pommeok {
    height: 35px;
    width: 35px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: #00ff00;
    cursor: pointer;
    margin-left: 175px;
}
