/*css pour ma carte event en petit pour la homepage*/

.littlecardevent {
    background-color: white;
    height: 335px;
    width: 285px;
    box-shadow: 10px 15px 40px $shadowbox;
    border-radius: 1px;
    padding: 15px;
        &_hautcard {
            display: flex;
            height: 95px;
            padding-left: 21px;
                &_nameevent {
                    width: 215px;
                }
                &_date {
                }
        }
    &_adressandnumber {
        padding-left: 21px;
    }
    &_infoevent {
        padding-left: 21px;
        padding-right: 25px;
        height: 105px;
    }
}