/*css pour ma carte event en petit pour la homepage*/



.littlecardevent {
    background-color: white;
    border: 3px solid black;
    height: 335px;
    width: 300px;
    box-shadow: 10px 15px 40px #cbc9ce;

    ._hautcard {
        display: flex;
        height: 70px;

        ._nameevent {
            padding-left: 21px;
            width: 228px;
        }
        ._date {
        }
    }
    ._adressandnumber {
        padding-left: 21px;
    }
    ._infoevent {
        padding-left: 21px;
        padding-right: 20px;
        height: 105px;
    }
}