/*css pour la navbar à ranger dans un fichier navbar*/
.navbar {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $pinkdemoncul;
}