.navbarleft {
	display: flex;
    align-items: center;
}
.logo {
    height: 34px;
    margin-right: 20px;
    cursor: pointer;
    padding-top: 3px;
}
.logo:hover {
	opacity: 0.7;
}
.baseline {
    font-size: 13px;
    width: 200px;
}