/*css pour le background*/
.ampoule {
    position: absolute;
    width: 51px;
    height: 50px;
    z-index: 2;
    top: 17%;
    left: 50%;
    &_infobuble {
      position: absolute;
      min-width: 160px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}
.ampoulee {
    position: absolute;
    width: 41px;
    height: 50px;
    z-index: 1;
    top: 66%;
    left: 80%;
    &_infobuble {
      position: absolute;
      min-width: 180px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.biere {
    position: absolute;
    width: 39px;
    height: 50px;
    z-index: 1;
    top: 78%;
    left: 58%;
    &_infobuble {
      position: absolute;
      min-width: 138px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.bouteille {
    position: absolute;
    width: 38px;
    height: 50px;
    z-index: 2;
    top: 16%;
    left: 9%;
    &_infobuble {
      position: absolute;
      min-width: 160px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.casserole {
    position: absolute;
    width: 72px;
    height: 50px;
    z-index: 1;
    top: 17%;
    left: 40%;
    &_infobuble {
      position: absolute;
      min-width: 152px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.cassette {
    position: absolute;
    width: 55px;
    height: 50px;
    z-index: 2;
    top: 13%;
    left: 68%;
    &_infobuble {
      position: absolute;
      min-width: 178px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.chaussette {
    position: absolute;
    width: 54px;
    height: 50px;
    z-index: 1;
    top: 37%;
    left: 82%;
    &_infobuble {
      position: absolute;
      min-width: 135px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.chaussettee {
    position: absolute;
    width: 64px;
    height: 50px;
    z-index: 2;
    top: 73%;
    left: 37%;
    &_infobuble {
      position: absolute;
      min-width: 150px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.citron {
    position: absolute;
    width: 62px;
    height: 50px;
    z-index: 1;
    top: 55%;
    left: 10%;
    &_infobuble {
      position: absolute;
      min-width: 115px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.lunette {
    position: absolute;
    width: 67px;
    height: 50px;
    z-index: 1;
    top: 15%;
    left: 79%;
    &_infobuble {
      position: absolute;
      min-width: 172px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.orange {
    position: absolute;
    width: 65px;
    height: 50px;
    z-index: 1;
    top: 48%;
    left: 88%;
    &_infobuble {
      position: absolute;
      min-width: 121px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.ordi {
    position: absolute;
    width: 65px;
    height: 50px;
    z-index: 1;
    top: 66%;
    left: 20%;
    &_infobuble {
      position: absolute;
      min-width: 120px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.pile {
    position: absolute;
    width: 60px;
    height: 50px;
    z-index: 1;
    top: 81%;
    left: 47%;
    &_infobuble {
      position: absolute;
      min-width: 113px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.pneu {
    position: absolute;
    width: 123px;
    height: 50px;
    z-index: 1;
    top: 54%;
    left: 28%;
    &_infobuble {
      position: absolute;
      min-width: 163px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.pomme {
    position: absolute;
    width: 54px;
    height: 50px;
    z-index: 1;
    top: 40%;
    left: 23%;
    &_infobuble {
      position: absolute;
      min-width: 241px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.pommee {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 78%;
    left: 73%;
    &_infobuble {
      position: absolute;
      min-width: 136px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.raquette {
    position: absolute;
    width: 85px;
    height: 50px;
    z-index: 1;
    top: 29%;
    left: 61%;
    &_infobuble {
      position: absolute;
      min-width: 141px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.roue {
    position: absolute;
    width: 114px;
    height: 50px;
    z-index: 1;
    top: 63%;
    left: 63%;
    &_infobuble {
      position: absolute;
      min-width: 160px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.saccuir {
    position: absolute;
    width: 95px;
    height: 50px;
    z-index: 1;
    top: 36%;
    left: 38%;
    &_infobuble {
      position: absolute;
      min-width: 113px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.sacpla {
    position: absolute;
    width: 75px;
    height: 50px;
    z-index: 1;
    top: 78%;
    left: 10%;
    &_infobuble {
      position: absolute;
      min-width: 140px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.soap {
    position: absolute;
    width: 41px;
    height: 50px;
    z-index: 1;
    top: 13%;
    left: 23%;
    &_infobuble {
      position: absolute;
      min-width: 181px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.tele {
    position: absolute;
    width: 101px;
    height: 50px;
    z-index: 1;
    top: 58%;
    left: 47%;
    &_infobuble {
      position: absolute;
      min-width: 134px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.tomate {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 26%;
    left: 16%;
    &_infobuble {
      position: absolute;
      min-width: 123px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.verre {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 82%;
    left: 27%;
    &_infobuble {
      position: absolute;
      min-width: 175px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.verrebleu {
    position: absolute;
    width: 37px;
    height: 50px;
    z-index: 1;
    top: 38%;
    left: 8%;
    &_infobuble {
      position: absolute;
      min-width: 98px;
      padding: 5px 10px;
      border: 0px solid black;
      font-size: 14px;
      background-color: #f4F4F4;
      font-weight: 300;
    }
}

.button_for_hide_wrappi, .button_for_display_wrappi {
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 3px 5px;
}

.fc_pink {
  color: #E42EF5;
}
