// .wrappi {
//   position: relative;
//   z-index: 3;
//   display: flex;
//   justify-content: space-around;
//   padding: 0px 11vw;
// }
// Toujours mettre un position: relative; au wrappi !!!!

.wrappi_home_pages_index {
  position: relative;
  z-index: 3;
  display: flex;
  // justify-content: space-around;
  margin-top: 18vh;
  padding: 0px 11vw;
}

.wrappi_events_show {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.wrappi_sessions_new, .wrappi_registrations_new {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  margin-top: 15vh;
}

.wrappi_registrations_edit, .wrappi_mobs_edit, .wrappi_mobs_new {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.wrappi_events_new {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.wrappi_events_edit {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
  width: 63%;
  margin: auto;
}
