/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Hind Siliguri', sans-serif;	
    font-weight: 600;
}

/*css pour la navbar à ranger dans un fichier navbar*/
.navbar {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbarleft {
	display: flex;
    align-items: center;
}
.navbarright{
}

.logo {
    height: 34px;
    margin-right: 20px;
}
.baseline {
    font-size: 13px;
    width: 151px;
}
h1 {
    font-weight: 400;	
}

.event {
	border: solid 2px black;
    padding: 4px;
	border-radius: 1px;
	font-weight: 600;
}
.event:hover {
    background: #0000ff;
    color: white;
}
.login {
	font-weight: 600;
	border-style: none;
    padding-top: 3px;
}
.login:hover {
	color: #ff00ff;
}





p {
	font-family: 'Source Serif Pro', serif;
}




.wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: white;
}

.wrappi {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 2;
	top: 50%;
	left: 50%;
/*	background-color: green;
*/
}

.pomme {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 1;
	top: 50%;
	left: 50%;
/*	background-color: purple;
*/
}

body {
	margin: 0px !important;
}