/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
h1 {
    font-weight: 400;   
}
h2 {
    font-family: 'Hind Siliguri', sans-serif;   
    font-weight: 600;
    font-size: 18px;
}
h3 {
    font-family: 'Hind Siliguri', sans-serif;   
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 1px;
    margin-top: 1px;
}

h4 {
    font-size: 13px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    margin-left: 8px;
    margin-top: 1px;
    margin-bottom: 0px;
}
h5 {
    font-size: 14px;
    font-weight: 400;
    color: #ff00ff;
    margin-bottom: 1px;
    margin-top: 15px;
}

h6 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 1px;
}
body {
	font-family: 'Hind Siliguri', sans-serif;
    font-weight: 600;
    margin: 0px !important;
}
p {
	font-family: 'Source Serif Pro', serif;
    font-size: 14px;
    font-weight: normal;
}

.wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: white;
}

/*css pour mon inscription user*/
.inscriptionuser {
    color: #ff00ff;
}
/*css pour mon inscription d'association*/
.inscription {
    background-color: white;
    border: 3px solid black;
    width: 700px;
    border-radius: 1px;
    padding-left: 30px;
    padding-right: 30px;
}
.inscriptionassos {
    color: #c000ff;
}
.field {

}
.champsinfo {
    height: 25px;
    width: 200px;
    border: 3px solid black;
    font-family: 'Hind Siliguri', sans-serif;   
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    border-radius: 1px;
    padding-left: 8px;
}
.champsinfo:focus {
    outline: none;
}
.champignon {
    display: flex;
    justify-content: space-between;
}
/*css pour ma carte event en petit à mettre dans un fichier séparé*/
.carteevent {
    background-color: white;
    border: 3px solid black;
    height: 300px;
    width: 300px;
    box-shadow: 10px 15px 40px #cbc9ce;
}
.hautcard {
    display: flex;
    height: 70px;
}
.nameevent {
    padding-left: 21px;
    width: 228px;
}
.date {
    height: 57px;
}
.adressandnumber {
    padding-left: 21px;
}
.infoevent {
    padding-left: 21px;
    padding-right: 20px;
}



/*css pour la navbar à ranger dans un fichier navbar*/
.navbar {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbarleft {
	display: flex;
    align-items: center;
}
.logo {
    height: 34px;
    margin-right: 20px;
    cursor: pointer;
}
.baseline {
    font-size: 13px;
    width: 200px;
}


/*partie de la navbar de droite*/
.eventbleu {
	border: solid 2px black;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
	border-radius: 1px;
	font-weight: 600;
	cursor: pointer;
    margin-right: 14px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.eventbleu:hover {
    background: #0000ff;
    color: white;
}
/*fichier css pour les boutons connexion et inscription*/
/* Dropdown Button */
.dropbtnrose {
    color: black;
    padding-top: 3px;
    font-size: 12px;
    border: none;
    font-weight: 600;
    width: 90px;
    cursor: pointer;
    background-color: white;
}
/* The container <div> - needed to position the dropdown content */
.dropdownrose {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-contentrose {
    display: none;
    position: absolute;
    width: 90px;
    z-index: 2;
}
.logoutuser, .logoutassos {
    font-size: 12px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
}
.logoutuser:hover {
    color: #ff00ff;
}
.logoutassos:hover {
    color: #c000ff;
}
/* Links inside the dropdown */
.dropdown-contentrose a {
    color: #ff00ff;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    padding-left: 13px;
}
/* Change color of dropdown links on hover */
.dropdown-contentrose a:hover {
    background-color: white;
    color: #dc05e2;
}
/* Show the dropdown menu on hover */
.dropdownrose:hover .dropdown-contentrose {
    display: block;
}
.dropbtnrose:hover {
    color: #ff00ff;
}
.dropdownrose:focus, .dropbtnrose:focus, .dropdown-contentrose:focus {
    outline: none;
}




/*csss pour le bouton batterie*/
* {-webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }
.batterygreen {
    padding-left: 172px;
    padding-top: 14px;
    cursor: pointer;
}

.innerpre { 
    width: 0px;
    height: 23px;
    background: #00ff00;
    position: absolute;
}

.inner {
    width: 95px;
    height: 23px;
    background-color: white;
    position: absolute;
    outline: 3px solid black;
}

.posi {
    width: 7px;
    height: 15px;
    background: black;
    position: absolute;
    margin: 4px 0px 0px 95px;
}
.moins {
    width: 13px;
    height: 5px;
    background: black;
    position: absolute;
    margin: 9px 0px 0px 80px;
}
.plus {
    width: 5px;
    height: 13px;
    background: black;
    position: absolute;
    margin: 5px 0px 0px 84px;
}

.inner:hover + .innerpre,
.innerpre:hover {
    width: 95px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.2) inset;
}