.bigcardevent {
    background-color: white;
    padding: 30px;
    border: 3px solid black;
    width: 900px;
    position: relative;
    &_informations {
        display: flex;
        &_details {
            display: flex;
            flex-direction: column;
            &_event {
                display: flex;
                &_date {
                    width: 40px;
                }
                &_name {}
                &_interested {}
            }
            &_meteo {
                padding-left: 40px;
                padding-top: 10px;
                &_img {}
                &_details {}
            }
            &_actions {
                display: flex;
                flex-direction: column;
                &_cta {
                    display: flex;
                }
            }
        }
    }
    &_geoloc {
        display: flex;
        &_description {
        height: 185px;
        padding-top: 15px;
        padding-right: 20px;
        }
        &_map {
            #map {
            height: 195px;
            }
        }
    }
}
.photoprofilasso {
    border-radius: 50%;
    position: absolute;
    top: 85px;
    left: 75px;
}
