/*partie de la navbar de droite*/
.eventbleu {
	border: solid 2px black;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
	border-radius: 1px;
	font-weight: 600;
	cursor: pointer;
    margin-right: 14px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.eventbleu:hover {
    background: #0000ff;
    color: white;
}