/*css pour le background*/
.ampoule {
    position: absolute;
    width: 51px;
    height: 50px;
    z-index: 1;
    top: 17%;
    left: 50%;
}
.ampoulee {
    position: absolute;
    width: 41px;
    height: 50px;
    z-index: 1;
    top: 66%;
    left: 80%;
}

.biere {
    position: absolute;
    width: 39px;
    height: 50px;
    z-index: 1;
    top: 78%;
    left: 58%;
}

.bouteille {
	position: absolute;
    width: 38px;
    height: 50px;
    z-index: 1;
    top: 16%;
    left: 9%;
}

.casserole {
    position: absolute;
    width: 72px;
    height: 50px;
    z-index: 1;
    top: 17%;
    left: 40%;
}

.cassette {
    position: absolute;
    width: 55px;
    height: 50px;
    z-index: 1;
    top: 13%;
    left: 68%;
}

.chaussette {
    position: absolute;
    width: 54px;
    height: 50px;
    z-index: 1;
    top: 37%;
    left: 82%;
}

.chaussettee {
    position: absolute;
    width: 64px;
    height: 50px;
    z-index: 1;
    top: 73%;
    left: 37%;
}

.citron {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 55%;
    left: 10%;
}

.lunette {
 	position: absolute;
    width: 67px;
    height: 50px;
    z-index: 1;
    top: 15%;
    left: 79%;
}

.orange {
    position: absolute;
    width: 65px;
    height: 50px;
    z-index: 1;
    top: 48%;
    left: 72%;
}

.ordi {
    position: absolute;
    width: 65px;
    height: 50px;
    z-index: 1;
    top: 66%;
    left: 20%;
}

.pile {
    position: absolute;
    width: 60px;
    height: 50px;
    z-index: 1;
    top: 81%;
    left: 47%;
}

.pneu {
    position: absolute;
    width: 123px;
    height: 50px;
    z-index: 1;
    top: 54%;
    left: 28%;
}

.pomme {
	position: absolute;
    width: 54px;
    height: 50px;
    z-index: 1;
    top: 40%;
    left: 23%;
}

.pommee {
	position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 78%;
    left: 73%;
}

.raquette {
    position: absolute;
    width: 85px;
    height: 50px;
    z-index: 1;
    top: 29%;
    left: 61%;
}

.roue {
    position: absolute;
    width: 114px;
    height: 50px;
    z-index: 1;
    top: 63%;
    left: 63%;
}

.saccuir {
    position: absolute;
    width: 95px;
    height: 50px;
    z-index: 1;
    top: 36%;
    left: 38%;
}

.sacpla {
    position: absolute;
    width: 75px;
    height: 50px;
    z-index: 1;
    top: 78%;
    left: 10%;
}

.soap {
    position: absolute;
    width: 41px;
    height: 50px;
    z-index: 1;
    top: 13%;
    left: 23%;
}

.tele {
    position: absolute;
    width: 101px;
    height: 50px;
    z-index: 1;
    top: 58%;
    left: 47%;
}

.tomate {
	position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 26%;
    left: 16%;
}

.verre {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 82%;
    left: 27%;
}

.verrebleu {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 38%;
    left: 8%;
}
