class UserEventsController < ApplicationController
  def index
    @userevent = UserEvent.all
  end

  def show
  end

  def new
    @userevent = UserEvent.new
  end

  def edit
  end

  def create
    @userevent = UserEvent.new
    @userevent.user_id = current_user.user_id
    @userevent.event_id = current_user.user_id

    respond_to do |format|
      if @userevent.save
        format.html { redirect_to root_path, notice: 'Commande validée.' }
        format.json { render :show, status: :created, location: @userevent }
      else
        format.html { render :new }
        format.json { render json: @userevent.errors, status: :unprocessable_entity }
      end
    end
  end

  def update
  end

  def destroy
  end

end
